

:root {
    --branco:rgb(94, 217, 255);
    --cor-de-fundo: #056a7c;
    --fundo-senha: #37e1ff;
    --fundo-texto:#97c8ff;
    --borda:#0077ff75;


}

body {
    color: var(--branco);
    background-color: var(--cor-de-fundo);
}

.conteudo-titulo{
    text-align:center;
    margin-top: 80px;

}