

:root {
    --branco:rgb(129, 230, 255);
    --cor-de-fundo: #0690a8;
    --fundo-senha: #37e1ff;
    --fundo-texto:#97c8ff;
    --borda:#0077ff75;


}

body {
    color: var(--branco);
    background-color: var(--cor-de-fundo);
}